body {
	font-family: "Luciada Sans Unicode", "Lucida Grande", sans-serif;
    background-color: azure;
	color: black;
	margin: 0px;
	padding: 0px;
}

h1 {
    color: black;
    text-align: center;
}

table {
	text-align: center;
	width: 100%;
	height: 100%;
	margin: none;
	max-height: 100%;
}

tr {
	height: 80%;
}

td {
	height: 100%;
}

img {
	max-width: 250px;
	width: 60%;
}

.icon {
	opacity: 1;
}

.icon:hover{
	opacity: 0.5;
}

.icon:active {
	opacity: 0.8;
}

.icontext {
	opacity: 0;
}

.icon:hover .icontext{
	opacity: 1;
}

#face {
	max-width: 400px;
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1000px;
	height: 80%;
	max-height: 100%;
}