body {
	font-family: "Luciada Sans Unicode", "Lucida Grande", sans-serif;
    background-color: azure;
	color: black;
    position:absolute;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	width: 100%;
}

h1 {
    transition-duration: 0.5s;
    color: black;
    text-align: center;
}



nav { 
	text-align: center;
	width: 30%;
	min-width: 100px;
	height: 20%;
	margin-top: auto;
	margin-bottom: auto;
}

nav a {
    transition-duration: 0.5s;
display: inline-block;
background-color: grey;
color:white;
width: 50%;
padding-top: 5%;
padding-bottom: 5%;
min-width: 100px;
text-align: center;
vertical-align: middle;
}


nav a:hover {
background-color: royalblue;
width: 100%;
}


#facebox {
	width: 100%;
	max-height: 30%;
}

#facebox img {
}

#face {
	width: 100%;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.5s;
}

a {
	text-decoration: none;
	height: 100%;
}

#content {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	transition-duration: 0.5s;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-grow: 1;
	align-items: center;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

