body {
    background-color: black;
	color: black;
margin: 0px;
padding: 0px;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
	
}

#nav { 
	text-align: center;
	background-color: lightgrey;
	width: 20%;
	position: fixed;
	height: 100%;
}

#content {
	border-left: 5px solid black;
	text-align: center;
padding-top: 0px;
margin-left: 20%;
width: 80%;
height: 100%;
position: absolute;
background-color: #6FADDC;
}

h2 {
padding-top: 5%;
margin: 0px;
	color: black;
text-align: center;
font-size: 64px;
background-color: azure;
height: 20%;
}

#face img {
	width: 90%;
}

#links a {
display: inline-block;
background-color: grey;
color:white;
width: 100%;
height: 20%;
text-align: center;
vertical-align: middle;
}

#links a:hover {
background-color: azure;
color: black;
}


#links {
height: 40%;
}

#footer {
height: 10%;
}

#face {
}


.foottxt {
font-size: 10px;
}

h3 {
	color: white;
	font-size: 36px;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#content div{
	margin: 0px;
	min-height: 35%;
	min-height: 350px;
}


.cleft {
	text-align: left;
	padding-left: 20px;
	background-color: grey;
}


.cright {
	text-align: right;
	padding-right: 20px;
	background-color: lightgrey;
}

#content img {
	padding: 0px;
	margin: 0px;
	height: 100%;
	
}
.cleft img {
	float: right;
}

.cright img {
	float: left;
}
