body {
    background-color: lightgrey;
	color: black;
margin: 0px;
padding: 0px;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

#nav { 
	text-align: center;
	background-color: lightgrey;
	color: red;
	width: 20%;
	position: fixed;
	height: 100%;
}

#content {
	text-align: center;
margin-left: 20%;
width: 80%;
height: 200%;
position: absolute;
background-color: lightblue;
}

h2 {
	color: white;
text-align: center;
font-size: 36px;
}

img {
width: 90%;
}

#links a {
    display: inline-block;
background-color: grey;
color:white;
width: 100%;
height: auto;
margin: 0px;
text-align: center;
}

#links {
height: 100%;
}