body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: azure;
	color: black;
margin: 0px;
padding: 0px;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
	
}

#nav { 
	text-align: center;
	background-color: #e6e6e6;
	width: 20%;
	position: fixed;
	height: 100%;
}

#content {
	text-align: center;
padding-top: 0px;
margin-left: 20%;
width: 80%;
height: 100%;
position: absolute;
background-color: #grey;
	background-color: azure;
}

h2 {
padding-top: 5%;
margin: 0px;
	color: black;
text-align: center;
font-size: 64px;
background-color: azure;
height: 15%;
}

#face img {
	width: 90%;
	transition-duration: 0.5s;
}

#face img:hover {
	opacity: 0.5;
}

#face img:active {
	opacity: 0.7;
}

#links a {
    transition-duration: 0.5s;
display: inline-block;
background-color: grey;
color:white;
width: 100%;
height: 10%;
padding-top: 5%;
padding-bottom: 5%;
text-align: center;
vertical-align: middle;
}

#links a:hover {
background-color: azure;
color: black;
}


#links {
height: 40%;
}

#footer {
height: 10%;
}

#face {
}


.foottxt {
font-size: 10px;
}

h3 {
	color: black;
	font-size: 36px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	padding-top: 50px;
}

.bod {
	margin: 0px;
	min-height: 35%;
	min-height: 350px;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	border: 1px grey solid;
	min-width: 500px;
	width: 40%;
	max-width: 650px;
}

.cbod {
	padding: 30px;
}


.cwhite {
	text-align: left;
	background-color: white;
	
}


.cgrey {
	text-align: left;
	background-color: lightgrey;
	
}

#content img {
	padding: 0px;
	margin: 0px;
	height: 100%;
	display: inline;
}


.bod img {
	height: 100%;
	min-width: 500px;
	width: 100%;
}
.bod img {
	height: 100%;
	min-width: 500px;
	width: 100%;
}

.imgbod {
	width: 100%;
	float: left;
	overflow: hidden;
}

img.inlineimgdiv {
	min-width: 100%;
}

img.inlineimg {
	float: none;
	display: block; /*for the img inside your div */  
margin-left: auto ;
margin-right: auto; 
}