body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

div #nav { 
	text-align: center;
	background-color: lightgrey;
	color:red;
	width = 20%;
float: left;
position: relative;
}

div #content {
	text-align: center;
float: right;
position: absolute;
}