
body {
	font-family: "Open Sans", verdana, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: azure;
	color: black;
margin: 0px;
padding: 0px;
    transition-duration: 0.5s;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
	
}

#nav { 
	text-align: center;
	background-color: #e6e6e6;
	width: 20%;
	position: fixed;
	height: 100%;
}

#content {
	text-align: center;
padding-top: 0px;
margin-left: 20%;
width: 80%;
height: 100%;
position: absolute;
background-color: #grey;
	background-color: azure;
}

h2 {
	padding-top: 5%;
	margin: 0px;
	margin-left: 20%;
	color: black;
	text-align: center;
	font-size: 64px;
	background-color: azure;
	height: 15%;
	width: 80%;
}

#face img {
	width: 90%;
	transition-duration: 0.5s;
}

#face img:hover {
	opacity: 0.5;
}

#face img:active {
	opacity: 0.7;
}

#links a {
    transition-duration: 0.5s;
display: inline-block;
background-color: grey;
color:white;
width: 100%;
height: 10%;
padding-top: 5%;
padding-bottom: 5%;
text-align: center;
vertical-align: middle;
}

#links a:hover {
background-color: azure;
color: black;
}


#links {
height: 40%;
}

#footer {
height: 10%;
}

#face {
}


.foottxt {
font-size: 10px;
}

h3 {
	color: black;
	font-size: 36px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	padding-top: 50px;
}

.bod {
	margin: 0px;
	min-height: 35%;
	min-height: 350px;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	border: 1px grey solid;
	width: 80%;
	min-width: 350px;
	max-width: 800px;
}

.cbod {
	padding: 30px;
}


.cwhite {
	text-align: left;
	background-color: white;
	
}


.cgrey {
	text-align: left;
	background-color: lightgrey;
	
}

#content img {
	padding: 0px;
	margin: 0px;
	height: 100%;
	display: inline;
}


.bod img {
	height: 100%;
	width: 100%;
}

.imgbod {
	width: 100%;
	float: left;
	overflow: hidden;
}

.imgbod img {
	width: 100%;
}

img.inlineimgdiv {
	min-width: 100%;
}

img.inlineimg {
	float: none;
	display: block; /*for the img inside your div */  
	margin-left: auto ;
	margin-right: auto; 
}

.pbod {
	background-color: white;
	min-width: 350px;
	flex-grow: 1;
	display: inline-block;
	width: 100%;
	min-width: 100%;
	padding: 0px;
    transition-duration: 0.5s;
}

#projectsbox {
	text-align: center;
padding-top: 0px;
margin-left: 20%;
width: 80%;
height: 115%;
position: absolute;
background-color: #grey;
display: flex;
flex-wrap: wrap;
flex-grow: 1;
	background-color: azure;
	align-items: flex-start;
	
    transition-duration: 0.5s;
}
}

#projectsbox .pbod .imgbod img {
	padding: 0px;
	margin: 0px;
	display: inline;
	max-width: none;
	max-height: none;
}

#projectsbox .pbod .imgbod {
	overflow: hidden;
	padding: 0px;
}

.pbod h4{
	transition: margin 0.5s;
	margin: 0px;
}
.pbod p{
	margin: 0px;
}

.pbod:hover h4{
	transition: margin 0.5s;
	margin: 10px;
}

.pcol {
	flex: 50%;
	max-width:50%;
}

.pbod .txt{
	background-color: white;
	width: 100%;
	height: 0px;
	margin: none;
	transition: height 0.5s;
}

.pbod:hover .txt {
	height: 150px;
	
}

.pbod p{
	font-size: 14px;
}

h4 {
	font-size: 20px;
}

.pcol a {
	color: black;
	text-decoration: none;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 1000px) {
    .pcol {
        flex: 90%;
        max-width: 90%;
		padding-left: 5%;
		padding-right: 5%;
    }
}

